<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Process Scheduler</title>
    <link rel="stylesheet" href="./bulma.min.css" />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div v-if="showModal">
          <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Configurações</p>
              </header>
              <section class="modal-card-body">
                <div class="field">
                  <label class="label">Número de cores</label>
                  <div class="control">
                    <input
                      class="input"
                      type="number"
                      min="1"
                      max="64"
                      value="1"
                      v-model.number="numOfCores"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label">Número de processos iniciais</label>
                  <div class="control">
                    <input
                      class="input"
                      type="number"
                      min="0"
                      max="10"
                      value="0"
                      v-model.number="numOfInitialProcesses"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label">Algoritmo de escalonamento</label>
                  <div class="control">
                    <div class="select">
                      <select v-model.number="schedulingAlgorithm">
                        <option value="3">FIFO</option>
                        <option value="4">SJF</option>
                        <option value="5">Round Robin</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field" v-if="schedulingAlgorithm === 5">
                  <label class="label">Quantum</label>
                  <div class="control">
                    <input
                      class="input"
                      type="number"
                      min="2"
                      max="20"
                      value="2"
                      v-model.number="quantum"
                    />
                  </div>
                </div>
              </section>
              <footer class="modal-card-foot">
                <button @click="startSimulation" class="button is-success">
                  Iniciar simulação
                </button>
              </footer>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="columns">
            <div class="column">
              <h2 class="subtitle">Tabela de processos</h2>
              <table class="table is-fullwidth is-bordered">
                <thead>
                  <tr>
                    <th><abbr title="Process Id">Id</abbr></th>
                    <th><abbr title="Process Time">Tempo total</abbr></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th><abbr title="Process Id">Id</abbr></th>
                    <th><abbr title="Process Time">Tempo total</abbr></th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr v-for="process in processTable">
                    <th>{{process.id}}</th>
                    <td>
                      {{process.totalTime}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column">
              <h2 class="subtitle">Processos aptos</h2>
              <table class="table is-fullwidth is-bordered">
                <thead>
                  <tr>
                    <th><abbr title="Process Id">Id</abbr></th>
                    <th><abbr title="Process Time">Tempo total</abbr></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th><abbr title="Process Id">Id</abbr></th>
                    <th><abbr title="Process Time">Tempo total</abbr></th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr v-for="process in readyProcesses">
                    <th>{{process.id}}</th>
                    <td>
                      {{process.totalTime}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column">
              <h2 class="subtitle">Processos em execução</h2>
              <table class="table is-fullwidth is-bordered">
                <thead>
                  <tr>
                    <th><abbr title="Process Id">Id</abbr></th>
                    <th><abbr title="Process Time">Tempo restante</abbr></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th><abbr title="Process Id">Id</abbr></th>
                    <th><abbr title="Process Time">Tempo restante</abbr></th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr v-for="process in runningProcesses">
                    <th>{{process.id}}</th>
                    <td>
                      {{process.remainingTime}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var clock = new Worker("./Clock.js")
    </script>
    <script src="./vue.js"></script>
    <script type="module" src="index.js"></script>
    <script type="module" src="./OSSimulator.js"></script>
  </body>
</html>
